body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: medium;
}

header {
    position: fixed;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    background-image: url(./im/header-image.png);
    height: 200px;
    width: 100%;
    object-fit: cover;
    z-index: 20000000000000000000000000;

} 

.icon-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-action-buttons{
    position: absolute;
    bottom: 0;
    z-index: 10;
    right: 200px;
}

.line {
    display: flex;
    justify-content: space-between;
}

.info-card {
    position: absolute;
    width: 400px;
    height: 150px;
    bottom: -10px;
    left: 1px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #F0EFF9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}

.info-card2 {
    position: absolute;
    width: 250px;
    height: 100px;
    bottom: -10px;
    right: 1px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #F0EFF9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 20;
    font-family: 'Montserrat', sans-serif;

}

.info-card .avatar {
    width: 50px;
    height:auto;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    text-align: center;

}


.user-name {
    font-size: 1em;
    font-weight: bold;
}

.online-status {
    font-size: 0.9em;
    color: green; /* You can use a specific color or a class for online status */
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    padding-top: 10px;
}

.sidebar {
    width: 30%;
    background-color: #f4f4f4;
    padding: 5px;
    box-sizing: border-box;
    min-height: 500px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}


.feed {
    width: 55%;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.left-sidebar {
    margin-top: 15px;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}

.right-sidebar {
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    align-items: start;
    padding-left: 45px;
    height: 540px;
    overflow-y: scroll; 
}



*::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f0f0f0;   
}
  
  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: pink;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    height: 30px;
  }
  


.menu{
    list-style: none;
    align-content: start;
    text-align: start;
    font-style: italic;

}

.menu li{
    margin-bottom: 10px;
}

.card, .publication-space, .about-location {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    border-color: red;
}

.about-location {
    height: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.card textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 100px;
    font-family: 'Montserrat', sans-serif;
}

.card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.card button:hover {
    background-color: #0056b3;
    border-color: red;
}

.forum-banner {
    background-color: white;
    color: black;
    text-align: center;
    height: 250px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid red;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.avatar-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.avatar-card img {
    width: 150px;
    height: 150px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    object-fit: cover;
    margin-right: 10px;
}

.avatar-info {
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
}

.avatar-info .name,
.avatar-info .location,
.avatar-card .dob
 {
    margin: 2px 0;
}

.serious-relationship {
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}


.premium-membership {
    text-align: center;
    margin-top: 20px;
}


.premium-membership i {
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
}


.premium-membership .text {
    font-style: italic;
    font-weight: 300;
}


.premium-membership .text a {
    color: #007bff;
    text-decoration: none;
}

.testimonial-card{
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 2px solid red; 
    margin-bottom: 20px;
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-header, .publication-header{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.publication-header2 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
}

.testimonial-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ddd;
    object-fit: cover;
    margin-right: 20px;
}

.testimonial-info .name {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.publication-info .name {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.testimonial-info .location {
    font-size: 0.9em;
    color: #666;
}

.publication-info .location {
    font-size: 0.9em;
    color: #666;
}

.testimonial-text,  .publication-text{
    font-size: 0.95em;
    line-height: 1.5;
    color: #333;
}


.publication-text2 {
    text-align: center;
} 

.others-users {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.head {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text {
    font-size: 1em;
    margin-bottom: 20px;
}

.others-users {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.head {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text {
    font-size: 1em;
    margin-bottom: 20px;
}



.user {
    width: 100px;
    height: 150px; 
}

.user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 300px;
}

.gallery-item {
    min-width: 50%;
    box-sizing: border-box;
    margin-right: 10px;
}

.gallery-item img {
    width: 100%;
    border-radius: 10px;
}

.chevron {
    font-size: 5em;
    color: #ff69b4;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.chevron.left {
    left: -15px;
}

.chevron.right {
    right: -15px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #f4f4f4;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #ddd;
}

.users-gallery {
    display: flex;
    margin-bottom: 20px;
    justify-content: center; 
} 

.publication-text {
    text-align: center;
    margin: 20px 0; 
}

.publication-avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #ddd;
    object-fit: cover;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    border-radius: 4px;
    padding: 5px;
}

.search-bar input{
    outline: none;
    background: inherit;
}

.search-bar i {
    margin-right: 15px;
    color: #666;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    width: 100%;
}

.search-bar input::placeholder {
    color: #aaa;
}

.nb-user-online {
    background-color: #7124de;
    width: 80%;
    max-width: 400px;
    color: white;
    text-align: center;
    padding: 15px 20px; 
    margin: 0 auto 20px auto; 
    font-size: 1.2em; 
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px; 
}

.other-users-row {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}


.bi-house {
    font-size: 2.5em;
}